body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
    }

header.header{
    height: 100px;
    padding: 5em;
    font-size: 2rem;
    background-image: url(../imgs/header.jpeg);
    background-size: cover;
    background-position: center;
}

.header h1{
    margin: 0;
    font-weight: 400;
}

.header *{
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.products-container{
    background-color: rgb(210, 206, 201);
}

.products{
    width: 80%;
    margin: auto;
    

}

.products td{
    width: 50%;
    padding: 2em;

}

img{
    width: 60%;
    border: solid 1px #ddd;

}

.footer{
    height: 3em;
    line-height: 3em;
    background-color: rgb(42, 41, 39);
    text-align: center;
    font-weight: 900;

}

.footer p {
    background-color: rgb(42, 41, 39);
    margin: 0;
    color: antiquewhite;
    /* advanced sintax */
    && a{ 
        color: antiquewhite;
    }
}